#index
{
  margin: 0;
  padding: 0;
  background: #0F0D35;
}

/*Nav bar*/
.hidden
{
 display: none;
}
.nav_bar
{
  position: fixed;
  width: 100%;
  height: 75px;
  top:0px;
  left: 0px;
  background: rgba(0, 0, 0, 0.5);
  z-index: 2;
}

nav ul
{
  text-align: center;
}
nav ul li
{
  list-style: none;
  display: inline-block;
}

nav  ul  li a
{
  display:  block;
  text-decoration: none;
  text-transform: uppercase;
  color: #fff;
  font-family:'DM Serif Display', serif;
  font-size: 20px;
  letter-spacing: 2px;
  font-weight: 600;
  padding: 25px;
}

nav ul li h5
{
  display: block;
  text-align: left;
  text-decoration: none;
  color: #fff;
  font-size: 20px;
  font-size: 20px;
  letter-spacing: 15px;
  font-weight: 900;
  padding: 25px;
}

nav a:hover
{
  color: #58D3C7;
  text-decoration: underline;
}
/*Nav bar media*/
@media screen and (max-width:800px)
{
 nav
  {
    width: 50%;
    height: 100%;
    left: -100%;
    margin: 0;
    position: fixed;
    background:rgba(0, 0, 0, 0.5);
    z-index: 2;
  }
  nav ul li h5
  {
    display: none;
  }
  nav ul li
  {
    display: block;
    float: none;
    border-bottom:1px solid rgba(255,255,255, 0.3);
    }
    .hidden
    {
      display: block;
      width: 100%;
      background: rgba(0, 0, 0, 0.5);
    }
    .hidden .nav_menu
    {
      display: block;
      padding: 40px;
      background:rgba(0, 0, 0, 0.5);
      color: #fff;
      text-decoration: none;
      font-weight: bold;
      font-size: 25px;
      -webkit-box-sizing:border-box;
      -moz-box-sizing:border-box;
      box-sizing: border-box;
    }
    .hidden span
    {
      float: right;
      font-size: 20px;
      text-align: center;
    }
  }
/*Nav bar media*/
.seleccionado
{
  color: #58D3C7;
  text-decoration: underline;
}
/*Fin de nav bar*/

/*Secciones*/
#fullpage
{
  height: 100vh;
}
#fullpage section
{
  height: 100vh;
  overflow: hidden;
}
/*Fin de secciones*/

/*Datos de contacto*/
.izq
{
  z-index: 2;
  position: fixed;
  top: 75px;
  left: 0;
  width:40px;
  height: 100vh;
  background: rgba(0, 0, 0, 0.5);
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
  overflow: hidden;
  white-space: nowrap;
  box-shadow: 0px 0px 20px  rgba(0, 0, 0, 0.8);
  transition: .3s ease;
  visibility: visible;
}
.izq:hover
{
  width: 200px;
}
.izq .items
{
  padding: 10px;
  list-style: none;
  color: #fff;
}
.izq .items:hover
{
  background: rgba(0, 0, 0, 0.9);
  cursor: pointer;
}
.izq .items .fab
{
  font-size: 25px;
  width:90px;
  padding: 10px;
}

@media screen and (max-width:800px)
{
  .izq
  {
    background: rgba(0, 0, 0, 0.8);
    width:250px;
  }

  .izq .items
  {
    margin: 0px;
    padding:0px;
    margin-left: -30px;
  }
  .izq .items .fab
  {
    padding: 20px;
  }
}

.ocultar
{
  visibility: hidden;
}

/*Fin de datos de contacto*/

/*Datos y descriocion*/
  .datos
  {

    text-align: center;
    margin: 80px;
    padding: 20px;
    display: block;
  }

  .text h4
  {
    color: #fff;
    margin: 20px;
    padding: 20px;
    font-family:'DM Serif Display', serif;
    border:0.5px solid #58D3C7;
  }
  .text p
  {
    color: #fff;
    margin: 10px;
    font-family:'DM Serif Display', serif;
    font-size: 20px;
  }

  /*Texto mundo*/
  .center
  {
    display: flex;
    justify-content:center;
    align-items: center;
  }
  .texto_mundo
  {
    -webkit-text-stroke: 1px #fff;
    color: transparent;
    padding: 2px;
  }
  #TM span
  {
    position: absolute;
    height: 470px;
    width: 50px;
    text-align: center;
    margin: -25px;

  }
  /*Fin de texto mundo*/
  /*Mundo girando*/
  .mundo
  {
    margin-left: 100px;
    margin-bottom: 200px;
    width:400px;
    height: 400px;
    background:url(../img/mapa.png);
    border-radius: 50%;
    box-shadow: -20px -30px 0 0 rgba(0,0,0,.1) inset,
                  -60px -40px 0 0 rgba(0, 0, 0, 0.1) inset,
                  5px 5px 0 0 rgba(255, 255, 255, 0.2);
    background-size: cover;
  }
  .mundo:hover
  {
    -webkit-animation: tierra 5s infinite linear;
  }
  .mundo .texto_mundo:hover
  {
    -webkit-text-stroke: 1px #58D3C7;
  }

  @-webkit-keyframes tierra
  {
    from
    {
      background-position: left center;
    }
    to
    {
      background-position: -600px center;
    }
  }

  .texto_entrada
  {
    background: rgba(0, 0, 0, 0.5);
  }
  #text_descripcion
  {
    margin: 2px;
    padding: 10px;
    text-align: center;
    font-size: 15px;
  }
  /*Fin de mundi girando*/
/*Fin de datos*/

/*Seccion 2*/
#about
{
  height: 100vh;
  color: #fff;
  margin: 20px;
  padding: 10px;
}
/*Presentacion*/
.Presentacion h4
{
  font-family:'DM Serif Display', serif;
  text-align: center;
  border:0.5px solid #58D3C7;
}
.blur p
{
  margin: 30px;
  font-family: 'Inria Serif', serif;
  background-color: rgba(243,243,243,0.2);
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.5);
  overflow: hidden;
}
/*Fin de prsentaicon*/

/*Estudios*/
.estudios h4
{
  font-family:'DM Serif Display', serif;
  text-align: center;
  border:0.5px solid #58D3C7;
}
.progreso
{
  font-family:'DM Serif Display', serif;
  width: 10rem;
  height: 10rem;
  border-radius: 50%;
  margin: 15px;
  position: relative;
  transform: rotate(90deg);
  display: inline-block;
}
.progreso::before
{
  width: 10rem;
  height: 10rem;
  position: absolute;
  top: 0;
  left: 0;
  background: #0F0D35 content-box;
  border-radius: 50%;
  padding: .5em;
  box-sizing: border-box;
  transform: rotate(-90deg);
}
.progreso::after
{
  width: 10rem;
  height: 10rem;
  position: absolute;
  top: 0;
  left: 0;
  border-radius: 50%;
  background: linear-gradient(transparent 50%, #0F0D35 50%);
  transform: scale(1.1) rotate(-90deg);
}

/*HTML*/
.HTML
{
  background: linear-gradient(0deg,rgba(223,89,36,.7) 80%, rgba(255,255,255,.2) 80%);
  text-align: center;
  color: rgba(223,89,36,.9);
  font-size: 20px;

}
.HTML::before
{
  content: "HTML5";
  line-height: 4rem;
}
.HTML::after
{
  content: "80%";
  line-height: 11rem;
  font-size: 18px;
}
/*Fin HTML*/

/*CSS*/
.CSS
{
  background: linear-gradient(0deg,rgba(15,104,154,.7) 50%, rgba(255,255,255,.2) 50%);
  text-align: center;
  color: rgba(15,104,154,.9);
  font-size: 20px;

}
.CSS::before
{
  content: "CSS";
  line-height: 4rem;
}
.CSS::after
{
  content: "50%";
  line-height: 11rem;
  font-size: 18px;
}
/*Fin CSS*/

/*JS*/
.JS
{
  background: linear-gradient(0deg,rgba(247,224,24,.7) 40%, rgba(255,255,255,.2) 40%);
  text-align: center;
  color: rgba(247,224,24,.9);
  font-size: 20px;

}
.JS::before
{
  content: "JS";
  line-height: 4rem;
}
.JS::after
{
  content: "40%";
  line-height: 11rem;
  font-size: 18px;
}
/*Fin JS*/

/*PHP*/
.PHP
{
  background: linear-gradient(0deg,rgba(135,146,192,.7) 50%, rgba(255,255,255,.2) 50%);
  text-align: center;
  color: rgba(135,146,192,.9);
  font-size: 20px;

}
.PHP::before
{
  content: "PHP";
  line-height: 4rem;
}
.PHP::after
{
  content: "50%";
  line-height: 11rem;
  font-size: 18px;
}
/*Fin PHP*/

/*MySql*/
.SQL
{
  background: linear-gradient(0deg,rgba(101,45,143,.7) 60%, rgba(255,255,255,.2) 60%);
  text-align: center;
  color: rgba(101,45,143,.9);
  font-size: 20px;

}
.SQL::before
{
  content: "SQL";
  line-height: 4rem;
}
.SQL::after
{
  content: "60%";
  line-height: 11rem;
  font-size: 18px;
}
/*Fin MySql*/
@media screen and (max-width:800px)
{
  #about
  {
    margin-bottom: 200px;
  }
}
/*Fin Estudios*/
/*Fin de seccion 2*/

/*Seccion 3*/
#portafolio
{
  margin-top: -90px;
  margin-bottom:180px;

}
.text_trabajos
{
  width: 50%;
  transform: translate(50%,50%);
}
.text_trabajos h4
{
  color: #fff;
  margin: 0 0 40px;
  padding: 0;
  text-transform: uppercase;
  font-family:'DM Serif Display', serif;
  border:0.5px solid #58D3C7;

}
.trabajos
{
  display: inline-block;
  margin: 20px;
  padding: 20px;
}
.trabajos  figure
{
  position: relative;
  height: 250px;
  width: 350px;
  overflow: hidden;
  border-radius: 6px;
  box-shadow: 0 1px 10px rgba(0, 0, 0, 0.5);
  cursor: pointer;
}
.trabajos figure a img
{
  width: 100%;
  height: 100%;
  transition: all 500ms ease-out;
}
.trabajos figure .hover
{
  position: absolute;
  top:0;
  width: 100%;
  height: 100%;
  background: rgba(82, 190, 128 , 0.5);
  transition: all 500ms ease-out;
  opacity: 0;
  visibility: hidden;
  text-align: center;
}
.trabajos figure a:hover > .hover
{
  opacity: 1;
  visibility: visible;
}
.trabajos figure a:hover > .hover h3
{
  margin-top: 70px;
  margin-bottom: 15px;
}
.trabajos figure a .hover h3
{
  color: #fff;
  font-weight: 400;
  text-transform: uppercase;
  margin-bottom: 120px;
  transition: all 500ms ease-out;
  margin-top: 30px;
}
.trabajos figure a .hover p
{
  color: #fff;
  font-size: 15px;
  line-height: 1.5;
  width: 100%;
  max-width: 220px;
  margin: auto;
}
/*Fin seccion 3*/

/*Seccion 4*/
#contact
{
  display: flex;
  justify-content: center;
}
.contacto
{
  position: absolute;
  background: rgba(0,0,0,0.5);
  width: 400px;
  padding: 40px;
  box-sizing: border-box;
  border: 1px solid rgba(0, 0, 0, 0.1);
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
}
.contacto h4
{
  margin: 0 0 40px;
  padding: 0;
  color: #58D3C7;
  text-transform: uppercase;
  font-family:'DM Serif Display', serif;

}
.contacto input
{
  padding: 10px 0;
  margin-bottom: 30px;
  color: #fff;
  font-family: sans-serif;
}
.contacto textarea
{
  height: 80px;
  padding: 10px 0;
  margin-bottom: 20px;
  color: #fff;
  font-family: sans-serif;
}
.contacto input,
 .contacto textarea
{
  width: 100%;
  box-sizing: border-box;
  box-shadow: none;
  outline: none;
  border: none;
  border-bottom: 2px solid #616A6B;
  background: none;
}
.contacto input[type="submit"]
{
  border-bottom: none;
  cursor: pointer;
  background: #58D3C7;
  color: #fff;
  text-transform: uppercase;
}
.contacto input[type="submit"]:hover
{
  background: rgb(82, 190, 128);
}
.contacto form div
{
  position: relative;
}
.contacto form div label
{
  position: absolute;
  top: 10px;
  left: 0;
  color: #616A6B;
  transition: .5s;
  pointer-events: none;
}

.contacto input:focus ~ label,
.contacto textarea:focus ~ label,
.contacto input:valid ~ label,
.contacto textarea:valid ~ label
{
  top:-12px;
  left: 0;
  color: #58D3C7;
  font-size: 12px;
  font-weight: bold;
}
.contacto input:focus,
 .contacto textarea:focus,
.contacto input:valid,
 .contacto textarea:valid
{
  border-bottom: 2px solid #58D3C7;
}
.error
{
  color: red;
  font-size: 12px;
  font-family: sans-serif;
  visibility: visible;
}
.correcto
{
  visibility: hidden;
}
/*Fin Seccion 4*/

/*Scroll*/
body::-webkit-scrollbar
{
  width: 12px;
  background: #0F0D35;
}
body::-webkit-scrollbar-thumb
{
  background: #efefef;
  border-radius: 6px;
}
